<div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
        <li data-target="#carousel-home" data-slide-to="2"></li>
        <li data-target="#carousel-home" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/carou01.png" alt="">
            <div class="carousel-caption">
                FRANCE
            </div>
        </div>
        <div class="item">
            <img src="~/images/carou02.png" alt="">
            <div class="carousel-caption">
                GREECE
            </div>
        </div>
        <div class="item">
            <img src="~/images/carou03.png" alt="">
            <div class="carousel-caption">
                SPAIN
            </div>
        </div>
        <div class="item">
            <img src="~/images/carou04.png" alt="">
            <div class="carousel-caption">
                CANADA
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-home" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-home" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>