﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Home Rental</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/less")*@
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("headersection", required: false)
</head>
<body>

    @Html.Partial("_Navbar")

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>