@gray: #C0C0C0;

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    .wrapper {
        margin-top: 10px;
        position: relative;
        width: 100%;
        margin: 0px 0px;
        height: 100%;

        .inner_left {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: 40%;
            margin-top: 50px;

            #map-canvas {
                height: 100%;
                margin: 0px;
                padding: 0px;
            }

            .controls {
                margin-top: 16px;
                border: 1px solid transparent;
                border-radius: 2px 0 0 2px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                height: 32px;
                outline: none;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            }

            #pac-input {
                background-color: #fff;
                padding: 0 11px 0 13px;
                width: 400px;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                text-overflow: ellipsis;
            }

                #pac-input:focus {
                    border-color: #4d90fe;
                    margin-left: -1px;
                    padding-left: 14px; /* Regular padding-left + 1. */
                    width: 401px;
                }

            .pac-container {
                font-family: Roboto;
            }
        }

        .inner_right {
            position: fixed;
            top: 50px;
            right: 0;
            width: 60%;
            bottom: 18%;

            .boxfilter {
                border-bottom: 1px solid @gray;
                height: 150px;
                padding-top: 20px;
                margin-left: 0px;

                .titrefilter {
                    color: @gray;
                    margin-top: 5px;
                }

                #checkin, #checkout {
                    width: 150px;
                }

                .iconspec1, .iconspec2 {
                    position: absolute;
                    padding-top: 20px;
                    color: @gray;
                    font-size: 25px;
                    margin-top: 1px;
                    margin-left: -60px;
                    z-index: 6;
                }

                .selectpicker {
                    border-radius: 4px;
                    width: 110px;
                }

                .bootstrap-select {
                    width: 110px;
                }

                .dropdown-menu {
                    min-width: 110px;
                }
            }

            #ajaxframe {
                bottom: 0;
                overflow: auto;
                height: 100%;
            }
        }
    }
}
