@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    I took inspiration from Airbnb site to make this website. It allowed me to learn about each challenge it represents to make an application like this.
</p>
<p>
    HomeRental is a website for people to rent out lodging, including private rooms, entire apartments, houses.
</p>

<p><a href="https://gitlab.com/amorel/homerental/tree/master" target="_blank">More info on GitLab</a></p>
