﻿@{
    ViewBag.Title = "Home Page";
}
@section headersection {
<link href="@Url.Content("~/Content/PageHome.less")" rel="stylesheet" />
}

@section scripts {

<script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/pagehome.js")'></script>
}
@section carousel
{
    <div id="carousel-home" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-home" data-slide-to="1"></li>
            <li data-target="#carousel-home" data-slide-to="2"></li>
            <li data-target="#carousel-home" data-slide-to="3"></li>
        </ol>

        <div class="searchbox">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="sr-only" for="inputsearch">Where do you want to go ?</label>
                    <input type="text" class="form-control" id="autocomplete" placeholder="Where do you want to go ?">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="checkin">Check in</label>
                    <input type="text" name="checkin" class="form-control" id="checkin"><span class="iconspec1 glyphicon glyphicon-calendar"></span>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="checkout">Check out</label>
                    <input type="text" name="checkout" class="form-control" id="checkout"><span class="iconspec2 glyphicon glyphicon-calendar"></span>
                </div>
                <div class="btn-group">
                    <select class="selectpicker" data-style="btn-info">
                        <option data-icon="glyphicon-user">1 Guest</option>
                        <option data-icon="glyphicon-user">2 Guest</option>
                        <option data-icon="glyphicon-user">3 Guest</option>
                        <option data-icon="glyphicon-user">4 Guest</option>
                        <option data-icon="glyphicon-user">5 Guest</option>
                        <option data-icon="glyphicon-user">6 Guest</option>
                    </select>
                </div>
                <button type="button" id="submitsearch" class="btn btn-info">Search</button>
            </form>
        </div>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/images/carou01.png" alt="">
                <div class="carousel-caption">
                    FRANCE
                </div>
            </div>
            <div class="item">
                <img src="~/images/carou02.png" alt="">
                <div class="carousel-caption">
                    GREECE
                </div>
            </div>
            <div class="item">
                <img src="~/images/carou03.png" alt="">
                <div class="carousel-caption">
                    SPAIN
                </div>
            </div>
            <div class="item">
                <img src="~/images/carou04.png" alt="">
                <div class="carousel-caption">
                    CANADA
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-home" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-home" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
}


<div class="row">
    <div class="col-md-4">
        <h2>Travel</h2>
        <p>
            From apartments and rooms to treehouses and boats: stay in unique spaces in 192 countries.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Host</h2>
        <p>Renting out your unused space could pay your bills or fund your next vacation.</p>
    </div>
    <div class="col-md-4">
        <h2>Trust and Safety</h2>
        <p>From Verified ID to our worldwide customer support team, we've got your back.</p>
    </div>
</div>
