@model HomeRental.Models.cQueryString

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.DisplayFor(model => model.address)
</p>
<p>
    @Html.DisplayFor(model => model.checkin)
</p>
<p>
    @Html.DisplayFor(model => model.checkout)
</p>
<p>
    @Html.DisplayFor(model => model.guests)
</p>
